.container {
    display: flex;
    width: 960px;
    gap: 0;
    flex-wrap: wrap;
}

.square {
    height: 16px;
    width: 16px;
    border-top: 1px solid black;
    border-left: 1px solid black;
    flex: 1;
}

.row:last-child {
    border-right: 1px solid black;
}