.container {
    margin-top: 10px;
    width: 1000px;
    height: 1000 px;
}

.grid {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}

.square {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0px;
}
